<table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
  <tbody>
    <tr>
      <td valign="top" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 20px;">
        <img src="https://we.ee/images/email-logo.png" alt="Web Expert OÜ">
      </td>
    <td style="padding-top: 0; padding-bottom: 0; padding-left: 12px; padding-right: 0;">
      <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
        <tbody>
          <tr><td colspan="2" style="color: #3C4445; font-size: 20px; line-height: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Jürgen Käsper</td></tr>
          <tr><td colspan="2" style="color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><i>Business Development</i></td></tr>
          <tr><td colspan="2" style="color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><strong>Web Expert OÜ</strong></td></tr>
          <tr><td width="20" valign="top" style="vertical-align: top; width: 20px; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">p:</td><td valign="top" style="vertical-align: top; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">(UK) + 44 78 28 228 088&nbsp;&nbsp;<span style="color: #3C4445;">m:&nbsp;</span>+372 5623 2699</td></tr>
          <tr><td width="20" valign="top" style="vertical-align: top; width: 20px; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">w:</td><td valign="top" style="vertical-align: top; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><a href="http://www.we.ee" style=" color: #3C4445; text-decoration: none; font-weight: normal; font-size: 14px;">www.we.ee</a>&nbsp;&nbsp;<span style="color: #3C4445;">e:&nbsp;</span><a href="mailto:jurgen@we.ee" style="color: #3C4445; text-decoration: none; font-weight: normal; font-size: 14px;">jurgen@we.ee</a></td></tr>
          <tr><td width="20" valign="top" style="vertical-align: top; width: 20px; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">a:</td><td valign="top" style="vertical-align: top; color: #3C4445; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">IMPORTANT: The contents of this email and any attachments are confidential. They are intended for the named recipient(s) only. If you have received this email by mistake, please notify the sender immediately and do not disclose the contents to anyone or make copies thereof.</td></tr>
        </tbody>
      </table>
    </td>
    </tr>
  </tbody>
</table>