.page-search {
	.search-block {
		margin-top: 20px;
	}
}
.search-page {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	&--results {
		h2 {
			margin-bottom: 20px;
			font-size: 20px;
			line-height: 30px;
			font-weight: 900;
		}
		.item {
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 30px;
			a {
				color: $black;
			}
			h3 {
				font-size: 24px;
				line-height: 30px;
				text-decoration: underline;
				color: $base-blue;
				em {
					font-weight: 900;
				}
			}
			p {
				em {
					font-weight: 900;
				}
			}
		}
	}
	&--dictionary {
		h2 {
			margin-bottom: 20px;
			font-size: 30px;
			line-height: 30px;
			font-weight: 900;
		}
		.item {
			margin-bottom: 20px;
			transition: all .3s ease-in-out;
			&:last-child {
				margin-bottom: 0;
			}
			&.u-active {
				border-left: 4px solid #A7A8AA;
				padding-left: 16px;
			}
			h3 {
				margin-bottom: 10px;
				font-size: 18px;
				line-height: 30px;
				text-decoration: underline;
			}
			&--content {
				display: none;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

.voog-search-modal-inner {
	.voog-search-modal-viewall {
		display: block;
		width: 100%;
		text-align: center;
		padding: 10px 20px;
		font-weight: 700;

		&:hover {
			background-color: #f2f2f2;
		}
	}
}
.search-results-page {
	.page--header {
		padding-top: 60px !important;
		&:before {
			display: none;
		}
	}
}