.page-dynamic-landing {
	.orange-campaign-landing {
		.page--detail {
			.page--header {
				background: none;
				&:after {
					display: none;
				}

				.c-switch-field {
					padding: 0.8rem;
				}
				.c-header-image {
					background-color: fade-out($color: #000000, $amount: .8);
					position: absolute;
					top: 120px;
					left: 2rem;
					border: 2px solid #0085ca;
					border-radius: 4px;
				}
				.header-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
				}

				&.graphic-only {
					padding: 0;

					img {
						display: block;
						width: 100%;
						height: auto;
						max-height: none;
					}

					&:before {
						display: none;
					}
				}
			}
		}
	}

	.c-block-settings {
		position: relative;

		.c-block-settings-content {
			position: absolute;
			background-color: #fff;
			right: 100%;
			margin-right: 5px;
			top: 0;
			font-size: small;
			border: 1px solid #ccc;
			border-radius: 4px;
			width: 100px;

			label {
				line-height: 1;
			}
		}
	}

	.dsearch-graph {
		&.block6 {
			margin: 0;
			padding-bottom: 4em;
			margin-bottom: 4em;
		}
	}
}